header, .project:not(:last-child) {
    /* border-bottom: 1px solid #ccc; */
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
      text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  
  /* .centered-image {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    position: absolute;
    size-adjust: 25%;
    top: 50%;
    transform: translateY(-50%);
  } */
  .logo-container {
    position: relative;
    text-align: center;
  }
  
  #new-stamp-btn {
    width: 10%;
    align-items: start;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  
  #new-stamp-btn:hover {
    transform: scale(1.09);
  }
  .button-container {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
  
  .fit-image {
    width: 100%;
    height: auto;
  }
  
  
  .login-font {
    font-weight: bold;
    color: aliceblue;
  
  }
  
  h3, h2, label{
    font-weight: bold;
    color: aliceblue;
  }
  
  
  /* CSS */
  .button-72 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    /* display: flex;  */
    font-family: Quicksand,sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    /* padding-top: 80%; */
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
  }
  
  .button-72:hover {
    background-image: linear-gradient(#B384C9, #391F5B 50%);
  }
  
  @media (min-width: 768px) {
    .button-72 {
      font-size: 21px;
      padding: 18px 34px;
    }
  }
