<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DRTY Nomads!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
       
      </h1>
      <nav>
        
      </nav>
    </header>
    <main class="container container-fluid mt-5">


    <!-- Render the sub layout 
    {{{ body }}}-->

<div class="logo-container">
  <img src="https://i.ibb.co/KsMxnYS/logo.png" alt="Logo" class="centered-image fit-image">
  <div class="button-container">
    <button class="btn btn-sm btn-danger button-72" id="newBtn">New Nomad</button>
    <button class="btn btn-sm btn-danger button-72" id="loginBtn">Login Nomad</button>
  </div>
</div>


      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>

  {{/if}}
  <script src="/js/hidebutton.js"></script>
</body>

</html>
