
<div class="row justify-center align-center min-100-vh">
    <div class="display-flex flex-column">
        <div class="display-flex justify-center">
            <img src="/images/logo.png" style="height: 400px">
        </div>
        <div class="display-flex justify-center">
            <button class="btn btn-danger" style="margin-right: .5em;" data-bs-toggle="modal" data-bs-target="#loginModal">New Nomad</button>
            <button class="btn btn-danger">Login Nomad</button>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Login</button>
            </div>
        </div>
    </div>
</div>