header, .project:not(:last-child) {
    /* border-bottom: 1px solid #ccc; */
  }

  .my-prof{
    width: 100%;
  height: 200px;
  object-fit: cover;
  }

  #singleton {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 700px;
  }
  

  #move-buttons{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;  
  padding-bottom: 50px;}

  #relative{
    position: relative;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
      text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #391d47;
    text-decoration: underline;
  }
  

  .logo-container {
    position: relative;
    text-align: center;
  }
  
  #new-stamp-btn {
    width: 10%;
    align-items: start;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  
  #new-stamp-btn:hover {
    transform: scale(1.09);
  }
  .button-container {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
  
  .fit-image {
    width: 100%;
    height: auto;
  }
  
  
  .login-font {
    font-weight: bold;
    color: aliceblue;
  
  }
  
  h3, h2, label{
    font-weight: bold;
    color: aliceblue;
  }
  
  
  .button-72 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    /* display: flex;  */
    font-family: Quicksand,sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    /* padding-top: 80%; */
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
  }
  
  .button-72:hover {
    background-image: linear-gradient(#B384C9, #391F5B 50%);
  }
  
  @media (min-width: 768px) {
    .button-72 {
      font-size: 21px;
      padding: 18px 34px;
    }
  }


  /* Typeahead styling starts */
/* ----------- */
 
html {
  overflow-y: scroll;
  *overflow-x: hidden;
}
 
.container {
  max-width: 900px;
  margin: 0 auto;
}
 
.tt-menu,
.gist {
  text-align: left;
}
 
/* base styles */
/* ----------- */
 
html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #df460d;
}
 
 
a {
  color: #df460d;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}
 
.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
 
.table-of-contents li a {
  font-size: 16px;
  color: #df460d;
}
 
p + p {
  margin: 30px 0 0 0;
}
 
/* site theme */
/* ---------- */
 
.title {
  margin: 20px 0 0 0;
  font-size: 64px;
  
}
 
.example {
  padding: 30px 0;
}
 
.example-name {
  margin: 20px 0;
  font-size: 32px;
}
 
.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}
 
#project-name{
  width: 600px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #8d00cf;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}
 
.typeahead {
  background-color: #fff;
}
 
.typeahead:focus {
  border: 2px solid #8d00cf;
}
 
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
 
.tt-hint {
  color: #999
}
 
.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid #df460d;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
 
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
 
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #8d00cf;
}
 
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #8d00cf;
 
}
 
.tt-suggestion p {
  margin: 0;
}
 
.gist {
  font-size: 14px;
}
 
/* example specific styles
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}
 
#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}
 
#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}
 
#rtl-support .tt-menu {
  text-align: right;
} 